
// ===============  bacground ===============
$bg-accent:rgb(5, 4, 4);
$bg-secondary: rgba(14, 14, 14, 1);
$bg-btn:rgba(212, 176, 126, 0.6);
$bg-card: rgba(25, 24, 23, 1);

// ======= text-color ========

$text-primary:rgba(218, 197, 167, 1);
$text-secondary:rgba(220, 200, 168, 0.3);
$text-main:rgba(218, 197, 167, 0.6);
$text-btn:rgba(14, 14, 14, 1);

//  =======   nav-bar ==================================

$bg-nav-bar: rgba(25, 25, 25, 0.6);
$bg-card-list: rgba(186, 172, 153, 0.15);
$box-shadov:  0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.1);

// ===== bacground  card  ===================================

$bg-span: rgba(26, 26, 26, 0.5);
$bg-step-card:  rgb(26, 26, 26, 0.6);
$bg-card-border:  rgba(51, 51, 51, 0.5);
$bg-badge-border: rgba(72, 60, 42, 0.6);
$bg-footer: rgba(26, 26, 26, 1);

$bg-avatar: linear-gradient(rgba(1, 0, 1, 0.2), rgba(0, 0, 0, 0.4));